@using mte.Helpers

<table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-striped">
    @Html.GuideTableLine("Enterprises", "Организации", "Описание")
    @Html.GuideTableLine("Posts", "Должности", "Описание")
    @Html.GuideTableLine("Employers", "Сотрудники", "Описание")
    @Html.GuideTableLine("CarBrands", "Марки ТС", "Описание")
    @Html.GuideTableLine("CarTypes", "Типы ТС", "Описание")
    @Html.GuideTableLine("Cars", "Транспортные средства", "Описание")
    @Html.GuideTableLine("PointTypes", "Типы остановок", "Описание")
    @Html.GuideTableLine("Points", "Остановки", "Описание")
    @Html.GuideTableLine("RouteTypes", "Типы маршрутов", "Описание")
    @Html.GuideTableLine("Routes", "Маршруты", "Описание")
    @Html.GuideTableLine("RoutePoints", "Остановки маршрутов", "Описание")
    @Html.GuideTableLine("WorkTypes", "Типы работ", "Описание")
    @Html.GuideTableLine("Boards", "Расписания", "Описание")
    @Html.GuideTableLine("BoardFlightLists", "Элементы расписания", "Описание")
    @Html.GuideTableLine("WayBillStatuses", "Состояния путвого листа", "Описание")
</table>