<h2>Справочники</h2>

<table class="uk-table uk-table-divider uk-table-striped">
    <tr>
        <td>Организации</td>
        <td>@Html.ActionLink("Перейти", "Index", "Enterprises", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Должности</td>
        <td>@Html.ActionLink("Перейти", "Index", "Posts", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Сотрудники</td>
        <td>@Html.ActionLink("Перейти", "Index", "Employers", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Марки ТС</td>
        <td>@Html.ActionLink("Перейти", "Index", "CarBrands", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Типы ТС</td>
        <td>@Html.ActionLink("Перейти", "Index", "CarTypes", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Транспортные средства</td>
        <td>@Html.ActionLink("Перейти", "Index", "Cars", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Типы остановок</td>
        <td>@Html.ActionLink("Перейти", "Index", "PointTypes", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Остановки</td>
        <td>@Html.ActionLink("Перейти", "Index", "Points", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Типы маршрутов</td>
        <td>@Html.ActionLink("Перейти", "Index", "RouteTypes", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Маршруты</td>
        <td>@Html.ActionLink("Перейти", "Index", "Routes", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Остановки маршрутов</td>
        <td>@Html.ActionLink("Перейти", "Index", "RoutePoints", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Типы работ</td>
        <td>@Html.ActionLink("Перейти", "Index", "WorkTypes", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Расписания</td>
        <td>@Html.ActionLink("Перейти", "Index", "Boards", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Элементы расписания</td>
        <td>@Html.ActionLink("Перейти", "Index", "BoardFlightLists", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
    <tr>
        <td>Состояния путвого листа</td>
        <td>@Html.ActionLink("Перейти", "Index", "WayBillStatuses", new { area = "Guides" }, new { @class = "uk-button uk-button-text" })</td>
    </tr>
</table>