<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/uikit")
</head>

<body>
    <section class="uk-section-primary">
        <nav class="uk-preserve-color uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="@Url.Action(" Index", "Home" , new { area="" })" class="uk-navbar-item uk-logo">
                    <span uk-icon="icon: server; ratio: 1;" class="uk-margin-small-right"></span>
                    MTE
                </a>
                @Html.Partial("Menu/TopMenu")
            </div>
            <div class="uk-navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </section>

    <section>
        <div uk-grid uk-height-viewport="expand: true" class="uk-child-width-expand uk-grid-collapse">
            <div class="uk-card-secondary uk-width-medium">
                <div class="uk-card uk-card-body uk-card-small">
                    @Html.Partial("Menu/LeftMenu_" + ViewContext.RouteData.DataTokens["area"])
                </div>
            </div>
            <div class="uk-card-default">
                <div class="uk-card uk-card-body uk-card-small">
                    <h3 class="uk-heading-bullet uk-margin-medium-bottom">@ViewBag.PageTitle</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("Footer/Footer")
</body>
</html>