@model mte.Models.WayBills
@using mte.Models

@{
    ViewBag.Title = "Print";
    Layout = "";

    Employers Driver_1 = new Employers();
    Employers Driver_2 = new Employers();
    Employers Conductor_1 = new Employers();
    Employers Conductor_2 = new Employers();
    Employers Intern_1 = new Employers();
    Employers Intern_2 = new Employers();

    foreach (var item in Model.WayBillTeams)
    {
        if (item.Employers.Posts.IsDriver)
        {
            if (item.NumberShift == 1) { Driver_1 = item.Employers; }
            if (item.NumberShift == 2) { Driver_2 = item.Employers; }
        }
        if (item.Employers.Posts.IsConductor)
        {
            if (item.NumberShift == 1) { Conductor_1 = item.Employers; }
            if (item.NumberShift == 2) { Conductor_2 = item.Employers; }
        }
        if (item.Employers.Posts.IsIntern)
        {
            if (item.NumberShift == 1) { Intern_1 = item.Employers; }
            if (item.NumberShift == 2) { Intern_2 = item.Employers; }
        }
    }

    Employers Contoler = ViewBag.CurrentSmena.ControlerEmployers;
    Employers Dispetcher = ViewBag.CurrentSmena.DispEmployers;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet">

    <style>
        body {
            font-family: 'Play', sans-serif;
            color: black;
            font-size: 9pt;
        }

        .form-col-1 {
            width: 22%;
            display: inline-block;
            vertical-align: top;
            padding-right: 8pt;
        }

        .form-col-2 {
            width: 37%;
            display: inline-block;
            vertical-align: top;
            padding-right: 8pt;
            padding-left: 8pt;
        }

        .form-col-3 {
            width: 37%;
            display: inline-block;
            vertical-align: top;
            padding-left: 8pt;
        }

        table {
            border-collapse: collapse;
            border: 1px solid black;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
        }
    </style>

</head>

<body>

    <section style="margin-bottom: 1rem;">
        <div class="form-col-1">
            <div>
                <div style="font-weight: bold;">@Model.Enterprises.Name</div>
                <div style="font-size: 0.7rem;">@Model.Enterprises.YAdress</div>
                <div>ОГРН @Model.Enterprises.Ogrn</div>
                <div>Тел. @Model.Enterprises.Phones</div>
            </div>
        </div>
        <div class="form-col-2">
            <div style="display: block; font-size: 10pt; font-weight: bold;">
                <div style="display: inline-block; width: 38%;">ПУТЕВОЙ ЛИСТ АВТОБУСА №</div>
                <div style="display: inline-block; width: 25%; text-align: center; border-bottom: 1px solid black;">@Model.WNumber</div>
                <div style="display: inline-block; width: 10%;"></div>
                <div style="display: inline-block; width: 25%; text-align: center; border-bottom: 1px solid black;">@Model.DateAdd.ToString("dd MMMM yyyy")</div>
            </div>
        </div>
        <div class="form-col-3">
            <div style="font-size: 0.7rem; text-align: right;">
                Типовая межотраслевая форма №6<br />
                Утверждена постановлением Госкомстата России<br />
                от 28.11.97 №78
            </div>
        </div>
    </section>

    <section>
        <div class="form-col-1" style="border-right: 1px solid black;">
            <div>
                <div style="margin-bottom: 1rem;">
                    Прошел предрейсовый контроль технического состояния транспортного средства. Автобус технически исправен. Выезд разрешен.
                </div>

                <div>
                    <div>
                        Контролёр технического состояния автотранспортных средств:
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @Contoler.FirstName.Trim()
                            <span>&nbsp;</span>
                            @Contoler.Name.Trim().First()
                            <span>.</span>
                            @Contoler.SurName.Trim().First()
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
            </div>

            <div style="margin-bottom: 1rem;">
                Автобус, кассы, переговорное устройство в исправном состоянии, указатели установлены
            </div>

            <div>
                <div>
                    <div>
                        Принял водитель
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @Driver_1.FirstName.Trim()
                            <span>&nbsp;</span>
                            @Driver_1.Name.Trim().First()
                            <span>.</span>
                            @Driver_1.SurName.Trim().First()
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
            </div>

            <div>
                <div style="margin-bottom: 0.5rem;">
                    Отметка о сдаче автобуса при смене водителя
                </div>
                <div>
                    <div>
                        Сдал:
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @if (Driver_2.Id > 0)
                            {
                                @Driver_1.FirstName.Trim()
                                <span>&nbsp;</span>
                                @Driver_1.Name.Trim().First()
                                <span>.</span>
                                @Driver_1.SurName.Trim().First()
                                <span>.</span>
                            }
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 0.5rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
                <div>
                    <div>
                        Принял:
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @if (Driver_2.Id > 0)
                            {
                                @Driver_2.FirstName.Trim()
                                <span>&nbsp;</span>
                                @Driver_2.Name.Trim().First()
                                <span>.</span>
                                @Driver_2.SurName.Trim().First()
                                <span>.</span>
                            }
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
            </div>

            <div>
                <div style="margin-bottom: 0.5rem;">
                    Отметка о приеме автобуса при возвращении водителя
                </div>
                <div>
                    <div>
                        Сдал:
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @if (Driver_2.Id > 0)
                            {
                                @Driver_2.FirstName.Trim()
                                <span>&nbsp;</span>
                                @Driver_2.Name.Trim().First()
                                <span>.</span>
                                @Driver_2.SurName.Trim().First()
                                <span>.</span>
                            }
                            else
                            {
                                @Driver_1.FirstName.Trim()
                                <span>&nbsp;</span>
                                @Driver_1.Name.Trim().First()
                                <span>.</span>
                                @Driver_1.SurName.Trim().First()
                                <span>.</span>
                            }
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 0.5rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
            </div>

            <div>
                <div>
                    <div>
                        Принял: Контролёр технического состояния автотранспортных средств
                    </div>
                    <div>
                        <div style="display: inline-block; width: 40%;">&nbsp;</div>
                        <div style="display: inline-block; width: 59%;">
                            @Contoler.FirstName.Trim()
                            <span>&nbsp;</span>
                            @Contoler.Name.Trim().First()
                            <span>.</span>
                            @Contoler.SurName.Trim().First()
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 1rem; font-size: 0.6rem; border-top: 1px solid black;">
                    <div style="display: inline-block; width: 40%;">Подпись</div>
                    <div style="display: inline-block; width: 59%;">Расшифровка</div>
                </div>
            </div>

            <table border="0" cellspacing="0" cellpadding="3" style="margin-bottom: 1rem;">
                <tr>
                    <td colspan="2">Показания спидометра</td>
                    <td width="30%">Подпись</td>
                </tr>
                <tr>
                    <td width="20%">Выезд</td>
                    <td>@Model.OdometrStart</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Возврат</td>
                    <td>@Model.OdometrStop</td>
                    <td></td>
                </tr>
            </table>

            <div style="margin-bottom: 0.5rem;">
                Отметка о состоянии здоровья водителя
            </div>

            <div style="margin-bottom: 0.5rem;">
                М.П.
            </div>

            @Model.DateAdd.ToString("dd MMMM yyyy")
        </div>
        <div class="form-col-2" style="border-right: 1px solid black;">

            <div style="margin-bottom: 0.5rem;">
                <div style="display: inline-block; width: 20%;">Марка автобуса</div>
                <div style="display: inline-block; width: 79%; border-bottom: 1px solid black;">
                    @Model.Cars.CarBrands.Name.Trim()
                </div>
            </div>
            <div style="margin-bottom: 1rem;">
                <div style="display: inline-block; width: 20%;">Гос. номер</div>
                <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;">
                    @Model.Cars.PIdent
                </div>
                <div style="display: inline-block; width: 28%;">Гаражный номер</div>
                <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;">
                    @Model.Cars.BIdent
                </div>
            </div>

            <table border="0" cellspacing="0" cellpadding="3" style="margin-bottom: 1rem;">
                <tr>
                    <td rowspan="2">Фамилия, Имя, Отчество</td>
                    <td rowspan="2">Табельный номер</td>
                    <td colspan="2">Номер</td>
                </tr>
                <tr>
                    <td>Удостоверения</td>
                    <td>Билетно-учетного листа</td>
                </tr>
                @foreach (var item in Model.WayBillTeams)
                {
                    if (item.Employers.Posts.IsDriver || item.Employers.Posts.IsConductor)
                    {
                        <tr>
                            <td width="50%">
                                @item.Employers.FirstName.Trim()
                                <span>&nbsp;</span>
                                @item.Employers.Name.Trim()
                                <span>&nbsp;</span>
                                @item.Employers.SurName.Trim()
                            </td>
                            <td>
                                @item.Employers.IIdent
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            </table>

            <div style="margin-bottom: 0.5rem;">
                <div style="display: inline-block; width: 99%; border-bottom: 1px solid black;">
                    @{ var Routes = Model.WayBillFlightLists.GroupBy(g => g.Routes).ToList();
                        foreach (var item in Routes)
                        {
                            <div>@item.Key.Name</div>
                        }
                    }
                </div>
            </div>

            <div style="margin-bottom: 1rem;">
                <div style="display: inline-block; width: 99%; border-bottom: 1px solid black;">
                    Место подачи @Model.WayBillFlightLists.OrderBy(o => o.Id).First().Routes.PointStart.Name
                </div>
            </div>

            <div style="margin-bottom: 1rem; width: 100%;">
                <div style="display: inline-block; width: 50%;">
                    <div style="margin-bottom: 0.5rem;">
                        <div style="display: inline-block; width: 20%;">Заказчик:</div>
                        <div style="display: inline-block; width: 79%; border-bottom: 1px solid black;"></div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">ч</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">мин</div>
                    </div>
                    <div style="margin-bottom: 0.5rem;">
                        <div style="display: inline-block; width: 20%;">Заказчик:</div>
                        <div style="display: inline-block; width: 79%; border-bottom: 1px solid black;"></div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">ч</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">мин</div>
                    </div>
                </div>
                <div style="display: inline-block; width: 49%">
                    <div style="margin-bottom: 0.5rem;">
                        <div style="display: inline-block; width: 35%;">Место подачи:</div>
                        <div style="display: inline-block; width: 64%; border-bottom: 1px solid black;"></div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 10%;">до</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">ч</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">мин</div>
                    </div>
                    <div style="margin-bottom: 0.5rem;">
                        <div style="display: inline-block; width: 35%;">Место подачи:</div>
                        <div style="display: inline-block; width: 64%; border-bottom: 1px solid black;"></div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 10%;">до</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">ч</div>
                        <div style="display: inline-block; width: 25%; border-bottom: 1px solid black;"></div>
                        <div style="display: inline-block; width: 10%;">мин</div>
                    </div>
                </div>
            </div>

            <table border="0" cellspacing="0" cellpadding="3" style="margin-bottom: 1rem;">
                <tr>
                    <td rowspan="2">Смена</td>
                    <td colspan="2">По расписанию</td>
                    <td colspan="2">Фактически</td>
                </tr>
                <tr>
                    <td>Выезд</td>
                    <td>Возврат</td>
                    <td>Выезд</td>
                    <td>Возврат</td>
                </tr>
                <tr>
                    <td>1</td>
                    @{
                        IEnumerable<WayBillFlightLists> tsh1 = Model.WayBillFlightLists.Where(w => w.NumberShift == 1).OrderBy(o => o.TimeBegin);
                        <td>@tsh1.First().TimeBegin</td>
                        <td>@tsh1.Last().TimeEnd</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                </tr>
                <tr>
                    <td>2</td>
                    @{
                        IEnumerable<WayBillFlightLists> tsh2 = Model.WayBillFlightLists.Where(w => w.NumberShift == 2).OrderBy(o => o.TimeBegin);
                        <td>
                            @if (tsh2.Count() > 0)
                            {
                                @tsh2.First().TimeBegin
                            }
                        </td>
                        <td>
                            @if (tsh2.Count() > 0)
                            {
                                @tsh2.Last().TimeEnd
                            }
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                </tr>
            </table>

            <div style="display: inline-block; width: 100%; margin-bottom: 1rem;">
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">В гараже:</div>
                    <div style="display: inline-block; width: 1rem;">с</div>
                    <div style="display: inline-block; width: 4rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: 1rem;">ч</div>
                    <div style="display: inline-block; width: 4rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: 2rem;">мин</div>
                    <div style="display: inline-block; width: 1rem;">до</div>
                    <div style="display: inline-block; width: 4rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: 1rem;">ч</div>
                    <div style="display: inline-block; width: 4rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: 2rem;">мин</div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">Причина:</div>
                    <div style="display: inline-block; width: 20rem; border-bottom: 1px solid black;"></div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">&nbsp;</div>
                    <div style="display: inline-block; width: ;">с</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">ч</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">мин</div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">Причина:</div>
                    <div style="display: inline-block; width: 20rem; border-bottom: 1px solid black;"></div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">На линии:</div>
                    <div style="display: inline-block; width: ;">с</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">ч</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">мин</div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">Причина:</div>
                    <div style="display: inline-block; width: 20rem; border-bottom: 1px solid black;"></div>
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <div style="display: inline-block; width: 5rem;">&nbsp;</div>
                    <div style="display: inline-block; width: ;">с</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">ч</div>
                    <div style="display: inline-block; width: 5rem; border-bottom: 1px solid black;"></div>
                    <div style="display: inline-block; width: ;">мин</div>
                </div>
                <div style="margin-bottom: 0.5rem; width: 100%;">
                    <div style="display: inline-block; width: 5rem;">Причина:</div>
                    <div style="display: inline-block; width: 25rem; border-bottom: 1px solid black;"></div>
                </div>
            </div>
            <div style="margin-bottom: 0.5rem; width: 100%;">
                <div style="display: inline-block; width: 12rem;">Отметка линейного контроля<br />Обслуживание в пути</div>
                <div style="display: inline-block; width: 18rem; border-bottom: 1px solid black;"></div>
            </div>
        </div>

        <div class="form-col-3">

            <table border="0" cellspacing="0" cellpadding="3" style="margin-bottom: 1rem;">
                <thead>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td width="15%">А76/ДТ</td>
                        <td width="15%">Газ</td>
                        <td width="20%">Подпись</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Замер остатка при выезде:</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Выдано топлива</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Выдано топлива</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>Замер остатка при возврате:</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Остаток бака на конец смены</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Расход по норме<br />(температура=%t)</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Фактический</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Экономия</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Перерасход</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td style="border: 2px solid black;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table border="0" cellspacing="0" cellpadding="3" style="margin-bottom: 1rem;">
                <thead>
                    <tr>
                        <td width="50%">Показатели</td>
                        <td width="50%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Количество часов работы водителя</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Количество часов работы кондуктора</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Количество часов работы стажера</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Плановое задание</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Фактическая выручка</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Наличная выручка</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Количество пассажиров</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Общий пробег</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Рейсы: План</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Фактически</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>График</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Путевка обработана</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>