@model mte.Models.MonthTablesTeams

@{
    ViewBag.Title = "Edit";
}

@Scripts.Render("~/bundles/jqueryval")

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MonthTablesTeams</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MonthTablesCarsId, "MonthTablesCarsId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MonthTablesCarsId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MonthTablesCarsId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployersId, "EmployersId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployersId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployersId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberShift, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberShift, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberShift, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D1_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D1_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D1_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D1_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D1_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D1_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D2_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D2_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D2_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D2_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D2_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D2_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D3_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D3_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D3_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D3_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D3_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D3_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D4_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D4_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D4_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D4_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D4_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D4_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D5_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D5_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D5_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D5_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D5_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D5_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D6_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D6_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D6_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D6_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D6_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D6_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D7_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D7_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D7_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D7_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D7_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D7_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D8_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D8_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D8_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D8_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D8_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D8_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D9_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D9_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D9_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D9_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D9_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D9_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D10_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D10_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D10_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D10_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D10_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D10_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D11_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D11_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D11_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D11_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D11_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D11_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D12_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D12_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D12_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D12_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D12_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D12_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D13_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D13_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D13_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D13_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D13_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D13_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D14_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D14_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D14_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D14_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D14_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D14_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D15_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D15_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D15_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D15_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D15_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D15_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D16_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D16_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D16_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D16_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D16_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D16_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D17_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D17_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D17_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D17_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D17_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D17_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D18_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D18_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D18_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D18_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D18_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D18_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D19_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D19_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D19_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D19_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D19_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D19_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D20_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D20_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D20_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D20_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D20_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D20_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D21_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D21_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D21_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D21_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D21_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D21_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D22_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D22_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D22_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D22_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D22_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D22_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D23_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D23_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D23_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D23_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D23_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D23_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D24_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D24_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D24_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D24_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D24_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D24_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D25_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D25_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D25_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D25_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D25_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D25_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D26_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D26_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D26_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D26_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D26_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D26_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D27_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D27_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D27_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D27_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D27_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D27_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D28_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D28_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D28_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D28_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D28_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D28_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D29_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D29_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D29_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D29_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D29_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D29_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D30_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D30_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D30_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D30_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D30_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D30_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D31_RIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D31_RIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D31_RIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D31_REIdent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D31_REIdent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D31_REIdent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>