@model IEnumerable<mte.Models.WayBillFlightLists>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Routes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WayBills.WNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberShift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBack)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Routes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WayBills.WNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTypes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberShift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBack)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
