@model mte.Models.WorkTypes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNullRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNullRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBreak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBreak)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
