@model mte.Models.Enterprises

<h3 class="uk-heading-bullet uk-margin-medium-bottom">Создание</h3>

<form method="POST" id="createformx" action="javascript:void(null)" onsubmit="sendpostdata()" class="uk-form-horizontal">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "uk-form-label" })

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Inn, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.Inn, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.Inn, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Kpp, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.Kpp, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.Kpp, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Ogrn, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.Ogrn, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.Ogrn, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.FAdress, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.FAdress, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.FAdress, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.YAdress, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.YAdress, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.YAdress, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Phones, htmlAttributes: new { @class = "uk-form-label" })
        <div class="uk-form-controls">
            @Html.EditorFor(model => model.Phones, new { htmlAttributes = new { @class = "uk-input" } })
            @Html.ValidationMessageFor(model => model.Phones, "", new { @class = "uk-form-label" })
        </div>
    </div>

    <div class="uk-margin-small">
        <input class="uk-button uk-button-primary" value="Создать" type="submit">
    </div>

</form>

<script type="text/javascript">

    function sendpostdata() {
        var msg = $('#createformx').serialize()
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Enterprises", new { area = "Guides" })',
            data: msg,
            success: function (data) {
                UIkit.modal("#viewform-modal-overflow").hide()
            },
            error: function (xhr, str) {
                alert('Возникла ошибка: ' + xhr.responseCode)
            },
            complete: function () {

            }
        })
    }

</script>