@model mte.Guides.Enterprises

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enterprises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kpp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kpp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ogrn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ogrn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocateF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocateF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocateU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocateU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnterpriseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
