@model mte.Models.Enterprises

<h3 class="uk-heading-bullet uk-margin-medium-bottom">Просмотр организации</h3>

<form class="uk-form-horizontal">
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Name, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Inn, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.Inn, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Kpp, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.Kpp, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Ogrn, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.Ogrn, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.YAdress, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.YAdress, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.FAdress, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.FAdress, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
    <div class="uk-margin-small">
        @Html.LabelFor(model => model.Phones, new { @class = "uk-form-label" })
        <div class="uk-form-controls">@Html.EditorFor(model => model.Phones, new { htmlAttributes = new { @class = "uk-input uk-disabled" } })</div>
    </div>
</form>