@model mte.Models.Enterprises

<h3 class="uk-heading-bullet uk-margin-medium-bottom">Просмотр организации</h3>

<div class="uk-child-width-1-1 uk-grid-small" uk-grid>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.Name)</div>
            <div>@Html.DisplayFor(model => model.Name)</div>
        </div>
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.Inn) / @Html.DisplayNameFor(model => model.Kpp)</div>
            <div>@Html.DisplayFor(model => model.Inn) / @Html.DisplayFor(model => model.Kpp)</div>
        </div>
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.Ogrn)</div>
            <div>@Html.DisplayFor(model => model.Ogrn)</div>
        </div>
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.YAdress)</div>
            <div>@Html.DisplayFor(model => model.YAdress)</div>
        </div>
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.FAdress)</div>
            <div>@Html.DisplayFor(model => model.FAdress)</div>
        </div>
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-1-5">@Html.DisplayNameFor(model => model.Phones)</div>
            <div>@Html.DisplayFor(model => model.Phones)</div>
        </div>
    </div>
</div>
