@using mte.Models;
@using mte.Helpers;

@model EnterprisesView

@Scripts.Render("~/bundles/jqueryval")

@{
    var f_item = Model.Enterprises.Count() > 0 ? Model.Enterprises.First().Id : 0;
    var f_1 = (Model.PageInfo.Sort_filter == "inn") ? Model.PageInfo.Sort_order : "";
    var f_2 = (Model.PageInfo.Sort_filter == "kpp") ? Model.PageInfo.Sort_order : "";
    var f_3 = (Model.PageInfo.Sort_filter == "name") ? Model.PageInfo.Sort_order : "";
}

<nav class="uk-margin uk-navbar-container-default" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-button-group uk-child-width-auto">
            <button id="btn-add" class="uk-button uk-button-default">Добавить</button>
            <button id="btn-view" class="uk-button uk-button-default">Просмотр</button>
            <button id="btn-edit" class="uk-button uk-button-default">Изменить</button>
            <button id="btn-delete" class="uk-button uk-button-default">Удалить</button>
        </div>
    </div>

    <div class="uk-navbar-right">
        <div class="uk-inline">
            <a id="btn-find" class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: search"></a>
            @if (!string.IsNullOrEmpty(Request.QueryString["search"]))
            {
                <a id="btn-find-cancel" class="uk-form-icon" href="#" uk-icon="icon: close"></a>
            }
            @Html.EditorFor(model => model.PageInfo.Search, new { htmlAttributes = new { id = "toolbar-search", @class = "uk-input", placeholder = "Поиск" } })
        </div>
    </div>
</nav>

<table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-striped uk-table-border uk-margin-remove-bottom">
    <thead>
        <tr>
            <th class="uk-table-shrink uk-text-middle uk-width-small" data-field="inn" data-sort="@f_1">
                @Html.DisplayNameFor(model => model.ModelInfo.Inn)
                @switch (f_1)
                {
                    case "asc":
                        <span uk-icon="icon: triangle-up; ratio: 1"></span>
                        break;
                    case "desc":
                        <span uk-icon="icon: triangle-down; ratio: 1"></span>
                        break;
                }
            </th>
            <th class="uk-table-shrink uk-text-middle uk-width-small" data-field="kpp" data-sort="@f_2">
                @Html.DisplayNameFor(model => model.ModelInfo.Kpp)
                @switch (f_2)
                {
                    case "asc":
                        <span uk-icon="icon: triangle-up; ratio: 1"></span>
                        break;
                    case "desc":
                        <span uk-icon="icon: triangle-down; ratio: 1"></span>
                        break;
                }
            </th>
            <th class="uk-table-expand uk-text-middle" data-field="name" data-sort="@f_3">
                @Html.DisplayNameFor(model => model.ModelInfo.Name)
                @switch (f_3)
                {
                    case "asc":
                        <span uk-icon="icon: triangle-up; ratio: 1"></span>
                        break;
                    case "desc":
                        <span uk-icon="icon: triangle-down; ratio: 1"></span>
                        break;
                }
            </th>
        </tr>
    </thead>
</table>

<div uk-height-viewport="offset-top: true; offset-bottom: 70px;" class="uk-height-medium">
    <div class="js-wrapper">
        <div uk-overflow-auto="selContainer: .uk-height-medium; selContent: .js-wrapper">
            @if (Model.PageInfo.TotalItems > 0)
            {
                <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-striped uk-table-border">
                    <tbody>
                        @foreach (var item in Model.Enterprises)
                        {
                            var is_active = (item.Id == f_item) ? "uk-active" : "";

                            <tr data-id="@item.Id" class="@is_active">
                                <td class="uk-width-small">
                                    @Html.DisplayFor(modelItem => item.Inn)
                                </td>
                                <td class="uk-width-small">
                                    @Html.DisplayFor(modelItem => item.Kpp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, search = Model.PageInfo.Search, sort_order = Model.PageInfo.Sort_order, sort_filter = Model.PageInfo.Sort_filter }))
            }
            else
            {
                @Html._ErrorNoData()
            }
        </div>
    </div>
</div>

<div id="viewform-modal-overflow" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-4-5 uk-margin-auto-vertical">
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <div class="uk-modal-body" id="viewform-modal-overflow-data" uk-overflow-auto></div>
    </div>
</div>

<script type="text/javascript">

    var currentItem = @f_item;
    var currentActive = true;

    function searchRedirect() {
        url = '@Url.Action("Index", "Enterprises", new { area = "Guides" })?page=@Model.PageInfo.CurrentPage' + '&search=' + $('#toolbar-search').val() + '&sort_order=@Model.PageInfo.Sort_order' + '&sort_filter=@Model.PageInfo.Sort_filter'
        location.href = url
    }

    $(document).ready(function () {

        $('table > thead > tr > th').on('click', function (e) {
            currentSortField = $(this).data('field')
            currentSortType = $(this).data('sort')

            if (currentSortField == '@Model.PageInfo.Sort_filter') {
                currentSortType = (currentSortType == 'asc') ? 'desc' : 'asc';
            }

            url = '@Url.Action("Index", "Enterprises", new { area = "Guides" })?page=@Model.PageInfo.CurrentPage' + '&search=' + $('#toolbar-search').val() + '&sort_order=' + currentSortType + '&sort_filter=' + currentSortField
            location.href = url
        });

        $('table > tbody > tr > td').on('click', function (e) {
            currentActive = !$(this).parent('tr').hasClass('uk-active')
            $('table > tbody > tr').removeClass('uk-active')
            if (currentActive) {
                currentItem = $(this).parent('tr').data('id')
                $('#btn-view').removeClass('uk-disabled').removeClass('uk-background-muted')
                $('#btn-edit').removeClass('uk-disabled').removeClass('uk-background-muted')
                $('#btn-delete').removeClass('uk-disabled').removeClass('uk-background-muted')
                $(this).parent('tr').addClass('uk-active')
            }
            else {
                currentItem = 0;
                $('#btn-view').addClass('uk-disabled').addClass('uk-background-muted')
                $('#btn-edit').addClass('uk-disabled').addClass('uk-background-muted')
                $('#btn-delete').addClass('uk-disabled').addClass('uk-background-muted')
            }
        });

        $('#btn-add').on('click', function (e) {
            $('#viewform-modal-overflow-data').empty().append('<div class="uk-position-center" uk-spinner>Загрузка<span class="uk-margin-left"></span></div>')
            UIkit.modal("#viewform-modal-overflow").show()
            $.ajax({
                url: '@Url.Action("Create", "Enterprises", new { area = "Guides" })',
                context: document.body
            }).done(function (data) {
                $('#viewform-modal-overflow-data').empty().append(data)
            })
        });

        $('#btn-view').on('click', function (e) {
            $('#viewform-modal-overflow-data').empty().append('<div class="uk-position-center" uk-spinner>Загрузка<span class="uk-margin-left"></span></div>')
            UIkit.modal("#viewform-modal-overflow").show()
            $.ajax({
                url: '@Url.Action("Details", "Enterprises", new { area = "Guides" })/' + currentItem,
                context: document.body
            }).done(function (data) {
                $('#viewform-modal-overflow-data').empty().append(data)
            })
        });

        $('#btn-edit').on('click', function (e) {
            url = '@Url.Action("Edit", "Enterprises", new { area = "Guides" })/' + currentItem
            location.href = url
        });

        $('#btn-delete').on('click', function (e) {
            UIkit.modal.confirm('Удалить выбранный элемент?').then(function () {
                url = '@Url.Action("Delete", "Enterprises", new { area = "Guides" })/' + currentItem
                location.href = url
            });
        });

        $('#btn-find').on('click', function (e) {
            searchText = $('#toolbar-search').val();
            if (searchText.length > 0) {
                searchRedirect()
            } else {
                $('#toolbar-search').addClass('uk-form-danger')
            }
        });

        $('#btn-find-cancel').on('click', function (e) {
            $('#toolbar-search').val(null)
            searchRedirect()
        });
    });

</script>
