@model IEnumerable<mte.Models.Enterprises>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kpp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ogrn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YAdress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kpp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ogrn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YAdress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
