@using mte.Helpers

<ul class="uk-nav uk-nav-default">
    @Html.MenuItem("Организации", "Index", "Enterprises", "Guides")
    <li class="uk-nav-divider"></li>
    @Html.MenuItem("Должности", "Index", "Posts", "Guides")
    @Html.MenuItem("Сотрудники", "Index", "Employers", "Guides")
    <li class="uk-nav-divider"></li>
    @Html.MenuItem("Марки ТС", "Index", "CarBrands", "Guides")
    @Html.MenuItem("Типы ТС", "Index", "CarTypes", "Guides")
    @Html.MenuItem("Транспортные средства", "Index", "Cars", "Guides")
    <li class="uk-nav-divider"></li>
    @Html.MenuItem("Типы остановок", "Index", "PointTypes", "Guides")
    @Html.MenuItem("Остановки", "Index", "Points", "Guides")
    @Html.MenuItem("Типы маршрутов", "Index", "RouteTypes", "Guides")
    @Html.MenuItem("Маршруты", "Index", "Routes", "Guides")
    @Html.MenuItem("Остановки маршрутов", "Index", "RoutePoints", "Guides")
    <li class="uk-nav-divider"></li>
    @Html.MenuItem("Типы работ", "Index", "WorkTypes", "Guides")
    @Html.MenuItem("Расписания", "Index", "Boards", "Guides")
    @Html.MenuItem("Элементы расписания", "Index", "BoardFlightLists", "Guides")
    <li class="uk-nav-divider"></li>
    @Html.MenuItem("Состояния путевого листа", "Index", "WayBillStatuses", "Guides")
</ul>