<ul class="uk-nav uk-nav-default">
    <li>@Html.ActionLink("Организации", "Index", "Enterprises", new { area = "Guides" }, new { })</li>
    <li class="uk-nav-divider"></li>
    <li>@Html.ActionLink("Должности", "Index", "Posts", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Сотрудники", "Index", "Employers", new { area = "Guides" }, new { })</li>
    <li class="uk-nav-divider"></li>
    <li>@Html.ActionLink("Марки ТС", "Index", "CarBrands", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Типы ТС", "Index", "CarTypes", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Транспортные средства", "Index", "Cars", new { area = "Guides" }, new { })</li>
    <li class="uk-nav-divider"></li>
    <li>@Html.ActionLink("Типы остановок", "Index", "PointTypes", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Остановки", "Index", "Points", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Типы маршрутов", "Index", "RouteTypes", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Маршруты", "Index", "Routes", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Остановки маршрутов", "Index", "RoutePoints", new { area = "Guides" }, new { })</li>
    <li class="uk-nav-divider"></li>
    <li>@Html.ActionLink("Типы работ", "Index", "WorkTypes", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Расписания", "Index", "Boards", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Элементы расписания", "Index", "BoardFlightLists", new { area = "Guides" }, new { })</li>
    <li class="uk-nav-divider"></li>
    <li>@Html.ActionLink("Состояния путевого листа", "Index", "WayBillStatuses", new { area = "Guides" }, new { })</li>
</ul>